@import url("https://fonts.google.com/specimen/Fraunces");

:root {
  --dark_cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very_dark_blue: hsl(212, 21%, 14%);
}

main {
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}