
.Emoji-Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Emoji-Search > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input, button {
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 400px;
}

button:hover {
    background-color: rgb(181, 181, 181);
}

ul {
    font-size: 20px;
    width: 500px;
}

li {
    list-style: none;
}